footer {
  color: white;
  font-family: "Montserrat-Medium";
}

.footer-container {
  background-color: #363E44;
  display: flex;
  color: white;
  padding: 90px 140px 90px 140px;
  justify-content: space-between;
}

.go-up {
  background-color: #363E44;
  color: white;
  font-size: 32px;
  text-align: center;
}

.headings-container {
  align-self: center;
}

.heading {
  margin-bottom: 44px;
  cursor: pointer;
  transition: 0.6s;
}

.heading:hover {
  text-decoration: underline;
}
/* .icon-container {
  
} */

.icon-container {
  align-self: flex-end;
}

.icon-footer {
  height: 44px;
}