a {
  text-decoration: none;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #605ff6;
  color: white;
  font-family: "Montserrat-Medium";
  cursor: pointer;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.nav {
  overflow: hidden;
  height: 50px;
  width: 50px;
  transition: height 0.5s, width 0.5s;
}

.nav.is-open {
  height: 100vh;
  width: 100vw;
}

.nav-open {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 16px;
}

.nav-openIcon {
  transition: background-color 0.3s;
}

.nav-openIcon,
.nav-openIcon::before,
.nav-openIcon::after {
  width: 36px;
  height: 3px;
  background-color: white;
}

.nav-openIcon::before,
.nav-openIcon::after {
  content: "";
  display: block;
  transition: transform 0.3s;
}

.nav-openIcon::before {
  transform: translateY(-9px);
}

.nav-openIcon::after {
  transform: translateY(6px);
}

.nav.is-open .nav-openIcon {
  background-color: transparent;
}
.nav.is-open .nav-openIcon::before {
  transform: translateY(2px) rotate(45deg);
}

.nav.is-open .nav-openIcon::after {
  transform: translateY(-2px) rotate(-45deg);
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transform: translate(calc(-50vw + 30px), calc(-50vh + 30px)) scale(0);
  opacity: 1;
  transition: transform 0.5s, opacity 0.3s;
}

.nav.is-open .nav-items {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #605ff6;
  transform: none;
  opacity: 1;
}

.nav-open:not(.is-open) .nav-items {
  pointer-events: none;
  justify-content: space-around;
}

.nav.is-open .item {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.item:not(:last-child) {
  margin-bottom: 50px;
}

.menu-logo {
  align-content: center;
}

.user {
  margin-right: 16px;
}

.button {
  display: none;
}

.is-displayed {
  display: none;
}

@media (min-width: 800px) {
  .nav.is-open .header-container,
  .header-container {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "logo navItems icon";
  }

  .nav {
    width: 100%;
    height: 100%;
    grid-area: navItems;
  }

  .nav.is-open {
    height: auto;
    width: auto;
  }

  .nav-open {
    display: none;
  }

  .nav-items {
    opacity: 1;
    transform: none;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav.is-open .nav-items {
    position: initial;
  }

  .item:not(:last-child) {
    margin-bottom: 0;
  }

  .menu-logo {
    order: -1;
    grid-area: logo;
    display: flex;
    justify-content: center;
  }

  .user {
    display: flex;
    justify-content: center;
    grid-area: icon;
  }

  .user-icon {
    display: none;
  }

  .button {
    display: block;
    background-color: #8887e2;
    border-radius: 50px;
    border: none;
    padding: 8px 16px;
    color: white;
    display: inline-flex;
    font-size: 16px;
    font-family: "Montserrat-Medium";
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
  }

  .button:hover {
    background-color: #605ff6;
  }

  .is-displayed {
    display: inline-flex;
  }
}
