* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #ffffff 50%, #605ff6 50%);
  background-repeat: no-repeat;
  height: auto;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "signin signupBis";
}

.content {
  display: flex;
  align-items: center;
  height: 100vh;
}

.signin {
  grid-area: signin;
}

.signupBis {
  grid-area: signupBis;
}

.iconClose {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 28;
  left: 28;
  cursor: pointer;
  transition: transform 0.9s;
}

.iconClose:hover {
  transform: rotate(360deg);
}

.content {
  display: flex;
  justify-content: center;
}

.contentLogin {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.contentLoginPurple {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.contentInput {
  display: flex;
  justify-content: center;
  position: relative;
}

.iconLogin {
  position: absolute;
  top: 27;
  left: 19;
}

.titleLogin {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-size: 28px;
  color: #605ff6;
}

.titleRegister {
  color: #ffffff;
}

.inputSignUp {
  width: 330px;
  height: 50px;
  font-size: 18px;
  background-color: #e7e6f7;
  border: none;
}

input {
  color: #5d6bc4;
  padding-left: 17%;
  outline-style: none;
}

.inputSignUp::placeholder {
  color: #b0b5e3;
}

.btnLogin {
  width: 256px;
  height: 49px;
  font-family: "Montserrat-Medium";
  font-size: 18px;
  text-transform: uppercase;
  background-color: #605ff6;
  border-radius: 40px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
}

.btnLogin:hover {
  border: 2px solid #605ff6;
  background-color: white;
  color: #605ff6;
}

.btnRegister {
  display: inline-block;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.BtnSignUp {
  padding-top: 10%;
}

.imgSignIn {
  width: 100%;
}

.titleFirst {
  font-family: "Montserrat-Medium";
  margin-bottom: 3%;
}

.titleSecond {
  font-family: "Montserrat";
  font-size: 18px;
}

.contentForgotPass {
  margin-top: -5%;
}

.forgotPassword {
  font-family: "Montserrat-Medium";
  font-size: 14px;
  color: #5d6bc4;
  text-decoration: none;
}

.containerSignImg {
  display: flex;
  justify-content: center;
}
